.html {
  html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
  }
}

body
.allpotatoes {
  flex-direction: column;
}
.firstpotatoes {
  justify-content: space-around;
}
.thirdpotatoes {
  justify-content: center;
}
